PORT=4000
DATABASE_URL="postgresql://user:password@postgres:5432/cadastral?schema=public"
JWT_SECRET="supersecret_key_change_in_production_min_64_chars"
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FRONTEND_URL=http://localhost:3000
ADMIN_BOOTSTRAP_SECRET=cadastral_admin_bootstrap
